{% extends 'base.html' %}
{% load static %}
{% block content %}


    <section id="decoration">
        <div class="container-fluid">
            <div class="container">
                <div class="sections-header">
                    <span class="section-title">
                        <h2>
                            Украсим самые<br><span class="grey-title">памятные </span><span class="red-title">события!</span>
                        </h2>

                    </span>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <p class="about">
                            Your complete guide to planning your special event! Party entertainers, musicians, DJs and bands, party services, photographers and tips and ideas for you to choose from! Whatever your event, you’ll find the perfect vendor to make your day memorable!
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-4">
                        <p class="text">
                            Event planner provides full-service catering, party planning and event management services for corporate entertaining, galas and fund-raisers, social events, weddings, receptions and business breakfast/luncheons. We offer three separate divisions to satisfy our customers’ needs - Corporate Express,Full Service Events and Weddings by Event planner.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="text">
                            An experienced event planner designs each menu and coordinates both the decor and food presentation for your event. All our food is prepared from the freshest ingredients delivered from specialty food growers and purveyors around the country.
                        </p>
                    </div>
                </div>
                <ul class="nav nav-pills" role="tablist">
                    {% for d in holidays %}
                        <li role="presentation" class="">
                            <a href="#tab-{{ d.id }}" aria-controls="{{ d.id }}" role="tab" data-toggle="pill"
                               data-first="{{ d.first }}">{{ d.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                {% for d in holidays %}

                    <div role="tabpanel" class="tab-pane fade" id="tab-{{ d.id }}">
                    <div class="row">
                        <div class="col-md-5 vcenter">
                            <h5>{{ d.caption }}</h5>
                            <p class="article">{{ d.article }}</p>
                            <a href="{{ d.url }}" class="readmore">Узнать больше</a>
                        </div><!----><div class="col-md-7 vcenter text-center vcenter">
                            <div id="holiday-slider-{{ d.id }}" class="slider-wrap owl-carousel">
                                {% for p in d.photos %}
                                    <div class="item">
                                        <img src="{% static p.get_slide_url %}" alt="{{ p.image.description }}" class="img-responsive">
                                        <div class="mask">
                                            <a href="{% static p.get_slide_url %}" data-lightbox="{{ d.title }} - {{ p.title }}" data-title="{{ d.title }}"></a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </section>

{#    <section id="history">#}
{#        <div class="container">#}
{#            <div class="sections-header">#}
{#                    <span class="section-title">#}
{#                        <h2>#}
{#                            Наша история#}
{#                        </h2>#}
{##}
{#                    </span>#}
{#            </div>#}
{##}
{#            <div class="history-slider owl-carousel">#}
{#                {% for h in history %}#}
{#                    <div class="item">#}
{#                        <div class="date">#}
{#                            {{ h.date.year }} <small>год</small>#}
{#                        </div>#}
{#                        <div class="title">#}
{#                            {{ h.title }}#}
{#                        </div>#}
{#                        <ul class="ivents">#}
{#                            {% for i in h.get_ivents %}#}
{#                                <li>#}
{#                                    {{ i.title }}#}
{#                                </li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

    <section id="trusts">
        <div class="container">
            <div class="sections-header">
                <span class="section-title">
                    <h2>Нам доверяют</h2>
                </span>
            </div>
            <br>
            <div id="trusts-slider" class="owl-carousel">
                {% for t in trusts %}

                        <div class="trust item vcenter">
                            {% if t.logo and t.logo != '' %}
                                <a href="{% static t.get_box_url %}" data-lightbox="trusts" data-title="{{ t.name }}">
                                <img src="{% static t.get_logo_url %}" alt="{{ t.name }}" class="img-responsive" title="{{ t.name }}" />
                            </a>
                            {% endif %}
                            {% if not t.logo or t.logo == '' %}
                                <p class="title">{{ t.name }}</p>
                            {% endif %}
                        </div>

                {% endfor %}
            </div>
        </div>
    </section>

    <section id="contacts">
        <div class="container">
{#            <div class="sections-header">#}
{#                    <span class="section-title">#}
{#                        <h2>#}
{#                            Контакты#}
{#                        </h2>#}
{#                    </span>#}
{#            </div>#}
        </div>

        <div class="map-container">
            <iframe id="map" width="100%" height="450" frameborder="0" style="border:0;" class="scrolloff"
                    src="https://www.google.com/maps/embed/v1/place?q=%D0%9A%D1%80%D0%B0%D1%81%D0%BD%D0%BE%D0%B0%D1%80%D0%BC%D0%B5%D0%B9%D1%81%D0%BA%D0%B8%D0%B9%20%D0%BF%D1%80%D0%BE%D1%81%D0%BF%D0%B5%D0%BA%D1%82%2C%2017%2C%20%D0%A2%D1%83%D0%BB%D0%B0%2C%20%D0%A2%D1%83%D0%BB%D1%8C%D1%81%D0%BA%D0%B0%D1%8F%20%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C%2C%20%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F&key=AIzaSyAX8VY1Gqb0xphcj3IJ64h61dqLVjpsgSQ"
                    allowfullscreen></iframe>

        </div>

        <div class="contacts">
            <div class="container" style="height: 350px">
                <div class="row" style="height: 350px">
                    <div class="info col-md-6">
                        <address>
                            <p class="caption">
                                Ателье праздничного декора <br> <span class="brand">"НАСТРОЕНИЕ"</span>
                            </p> <br>
                            <dl class="dl-horizontal">
                                <dt>
                                    <abbr title="Адрес">Адрес: </abbr>
                                </dt>
                                <dd>
                                    г.Тула, Красноармейский пр-т, д. 7, оф.402б
                                </dd>
                                <dt>
                                    <abbr title="E-mail:">E-Mail: </abbr>
                                </dt>
                                <dd>
                                    <a href="mailto:nastroenie71@mail.ru">nastroenie71@mail.ru</a>, <a href="mailto:nastroenie71@gmail.com">nastroenie71@gmail.com</a>
                                </dd>
                                <dt>
                                    <abbr title="Телефон">Тел: </abbr>
                                </dt>
                                <dd>
                                    /4872/ 25-31-29
                                </dd>
                                <dt>
                                    <abbr title="Мобильный">Моб: </abbr>
                                </dt>
                                <dd>
                                    8-910-944-88-66, 8-953-958-20-15
                                </dd>
                            </dl>
                            <br>
                            <p class="caption">
                                 Мы работаем:
                            </p>
                            <dl class="dl-horizontal">
                                <dt>пн-пт: </dt>
                                <dd>с 10 до 18</dd>
                                <dt>сб: </dt>
                                <dd>с 11 до 16</dd>
                                <dt>вс: </dt>
                                <dd>выходной</dd>
                            </dl>
{#                            <strong>Доставка</strong>#}
{#                            <dl class="dl-horizontal">#}
{#                                <dt>По Туле: </dt>#}
{#                                <dd>300 рублей круглосуточно.</dd>#}
{#                                <dt>По области: </dt>#}
{#                                <dd>10 руб/км (из расчета туда-обратно).</dd>#}
{#                            </dl>#}
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

